.badge {
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.30rem 0.30rem
}

.badge-avatar-container {
    position: relative;
}

.avatar-badge {
    position: absolute;
    bottom:0.5rem;
    left:2rem;
    background-color: green;
    color: white;
    border-radius: 50%;
    min-width: 0.7rem;
    height: 0.7rem;
    border: 3px white solid;
}

.fa-bell {
    color: rgb(182, 182, 182);
}

.badge-icon-container {
    position: relative;
    
}

.icon-badge {
    position: absolute;
    background-color: rgb(236, 84, 14);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    font-size: 0.8rem;
    color: black;
    text-align: center;
    bottom:80%;
    right:2%;

}

.badge.bg-primary{
    color:whitesmoke;
}
.badge.bg-secondary{
    color:whitesmoke;
}

.badge.bg-primary.alt{
    background-color:whitesmoke;
    color:var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 0.2rem 0.2rem;
}

.badge.bg-secondary.alt{
    background-color:whitesmoke;
    color:var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding: 0.2rem 0.2rem;
}