.horizontal-navbar {
    list-style-type: none;
    background-color: var(--off-secondary);
}

.horizontal-navbar-item {
    display: inline;
    padding: 1rem 1rem;
}

.horizontal-navbar-item>a {
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
}

.vertical-navbar {
    list-style-type: none;
    display: flex;
    background-color: var(--off-secondary);
    width: 5rem;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
}

.vertical-navbar-item {
    padding: 1rem 1rem;
    text-align: center;
}

.vertical-navbar-item>a {
    color: var(--secondary-color);
    text-decoration: none;
}

.navbar {
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 1rem;
}

.navbar-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-brand {
    font-weight: bold;
    font-size: larger;
    display: flex;
    align-items: center;
}

.list-item-inline {
    display: inline;
    padding: 0.5rem 1rem;

}

.list-item-non-bullet {
    list-style: none;
}

.navbar .link-active {
    font-weight: bold;
    background-color: var(--mid-primary);
    border-radius: 1rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar .link {
    color: white;
}


.aside-nav {
    position: sticky;
    top: 0;
    height: max-content;
    width: max-content;
    display: block;
    color: var(--grey-600);

}

.aside-link {
    text-decoration: none;
    color: var(--grey-600)
}

.aside-current-item {
    font-weight: bold;
    color: var(--mid-primary);
}

.navbar-vertical-item {
    text-align: left;
    margin: 1rem;
    font-size: 1.1rem;

}

#nav-iframe1 {
    width: 700px;
    height: 371px;
}

#nav-iframe2 {
    width: 850px;
    height: 371px;
}

.navbar .link {
    color: white;
    padding: 0;
  }
  .navbar .link-active {
    font-weight: bold;
    background-color: var(--mid-primary);
    border-radius: 1rem;
  }
  .navbar {
    min-height: 10vh;
  
    width: 100%;
    align-items: center;
    background-color: var(--primary-color);
  
    font-weight: 500;
    color: black;
  
    padding: 1rem;
    box-sizing: border-box;
    z-index: var(--z-index-3);
  
    display: flex;
    justify-content: space-between;
  }
  
  .nav-section {
    display: flex;
    align-items: center;
  }
  
  .nav-section-items {
    box-sizing: border-box;
    padding: 0 1rem;
  }
  .nav-section-item-width50pc {
    width: 50%;
    box-sizing: border-box;
    padding: 0 1rem;
  }
  
  .navbar-links {
    display: flex;
    z-index: var(--z-index-5);
    margin-top: none;
  }
  
  .nav-icons {
    display: flex;
    justify-self: right;
  }
  .nav-icon-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
  }
  .nav-icon-link .nav-icon-text {
    font-size: 0.75rem;
    margin-top: 4px;
  }
  .nav-icon-link .nav-icon {
    color: whitesmoke;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.2rem;
  }
  @media screen and (min-width: 1024px) {
    .navbar-links{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--primary-color);
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      padding: 1rem;
      list-style: none;
    }
    .navbar-links a{
      display: inline;
      padding: 1rem 1rem;
      border-bottom-left-radius: 20%;
    }
    .navlinks-active {
      color: black;
      background-color: var(--mid-primary);
    }
  
  }
  @media screen and (max-width: 1024px) {
    .burger {
      display: block;
      transition: transform 0.2s ease;
    }
    .nav-logo {
      display: none;
    }
  
    .nav-logo-title {
      display: block;
    }
    .nav-icon-text {
      display: none;
    }
    .navbar {
      position: relative;
      padding: 1rem 0.625rem;
    }
  
    .nav-profile {
      justify-self: left;
    }
  
    .navbar-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      width: 100%;
      display: none;
      
    }
  
    .navbar-links link-inline-item{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      width: 100%;
      display: none;
  
    }
    .active .navbar-links {
      display: block;
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      padding: 0rem;
      height: 100vh;
      overflow: auto;
      margin-top: 0;
    }
    .active .navbar-links .list-inline-item:not(.avatar-in-nav-links) {
      padding: 1rem 1.5rem;
      
    }
  
    .active .tertiary-text-color {
      color: white;
    }
    .active .burger {
      position: absolute;
      left: calc(50% - 2.5rem - 24px);
      top: 1.5rem;
      z-index: var(--z-index-6);
    }
    .active .burger .line1:nth-of-type(2) {
      position: relative;
      transform: rotate(-45deg);
      bottom: 2px;
      background-color: black;
    }
    .active .burger .line1:nth-of-type(1) {
      position: relative;
      transform: rotate(45deg);
      bottom: -4px;
      background-color: black;
    }
    .active .navbar-links .list-inline-item:not(:last-of-type) {
      margin-right: 0rem;
    
    }
  }

  .nav-title {
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
  }
  .nav-logo {
    width: 100%;
    width: fit-content;
    box-sizing: border-box;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.625rem 1rem;
  }
  
  .navlinks-style {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
  }
  
  .navlinks-active {
    color: var(--primary-color);
  }
  
  .nav-icons {
    box-sizing: border-box;
    padding: 0 1rem;
  }
  @media screen and (max-width: 1024px) {
    .navbar {
      padding: 0.8rem 0.8rem 0.8rem 0rem;
    }
    .navbar-links {
      box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
    }
  }