.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}


.heading-primary {
    color: var(--primary-color);
}

.heading-secondary {
    color: var(--secondary-color);
}

.small-text {
    font-size: 0.7rem;
}

.gray-text {
    color: gray;
}

.bold {
    font-weight: bolder;
}

.center {
    text-align: center;
}


.padding2 {
    padding: 2rem;
}

.font-size2 {
    font-size: 2rem;
}

.font-size1 {
    font-size: 1.2rem;
}

#utilities-iframe1 {
    width: 590px;
    height: 242px;
}